body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: url("https://api.parashospitals.com/uploads/2020/03/FoodProductsCOVID19_1600x900_0.jpg"); /* your background image */
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    overflow-x: hidden;
}

/* Main title */
h1 {
    text-align: center;
    font-size: 3rem;
    color:#019393;
    font-weight: bold;
    margin-top: 20px;
}
.search-box {
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 400px;
    margin: auto;
}

/* Date Selector */
.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 20px;
}

.date-container label {
    font-weight: bold;
    font-size: 20px;
    color: #4db9d0 !important;
}

input[type="date"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 10px 25px;
    font-size: 16px;
    background-color: #4db9d0 !important;
    color: white;
    border: none !important;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0040cc !important;
}

/* Date Display Box */
#selectedDateBox {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px 30px;
    border-radius: 15px;
    margin: auto;
    color: #00ffc3;
    font-size: 24px;
    font-weight: bold;
}

/* State Cards Container */
#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 40px 20px;
}

/* Each Card Styling */
.card {
    margin: 12px;
    background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
    color: #fff;
    width: 280px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

/* Card Content */
.card h5 {
    font-size: 30px;
    margin-bottom: 15px;
    color: #019393;
    font-weight: bold;
}

.card p {
    margin: 5px 0;
    font-size: 16px;
    font-weight: bold;
}

.card .cases {
    color: #ffcc00;
}

.card .deaths {
    color: #ff4444;
}

.card .recovered {
    color: #00ff99;
}


