body {
    background-image: url('https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1920&q=80');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#weather-container {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.4s ease, opacity 0.4s ease;
  
}
#weather-icone {
    display: none;
    width: 100px;
    /* margin-top: 10px; */
    transition: all 0.4s ease;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
}
